
/* seletor global */
* {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

input {
  border: 1px solid blue;
  border-radius: 6px;
  display: block;
}

h1{
  margin-bottom: 6px;
  background-color: #369d1a;
  border: 1px solid;
  padding: 20px 0px;
  width: 50%;
  /* display: inline; */
}

div {
  background-color: chocolate;
  height: 100vh;
}

.paragrafo {
  border: 1px solid;
  height: 40%;
}